a {
  text-decoration: none;
}
/* Header */
.header {
  padding: 32px;
  background-color: #fff;
}

.header-content {
  max-width: 1170px;
  margin: 0 auto;
}

.header-nav {
  display: inline;
}

.header-list {
  list-style: none;
  display: inline;
}

.header-list-item {
  margin-left: 50px;
  display: inline;
}

.header-contacts {
  display: inline;
}

.contact-link {
  display: inline;
}

.main-logo-blue {
  color: #2196f3;
  font-family: "Raleway";
}

.main-logo {
  margin-right: 25px;
  color: #000000;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}

.main-logo,
.header-list-item a,
.contact-link-item {
  line-height: 31px;
}

.header-list-studio {
  font-family: "Roboto";
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #212121;
}

.header-list-portfolio {
  font-family: "Roboto";
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #212121;
}

.header-list-contacts {
  font-family: "Roboto";
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #212121;
}
.header-list-item a:visited {
  color: #000000;
}

.header-list-item a:hover,
.header-list-item a:focus {
  color: #2196f3;
}

.contact-link {
  margin-left: auto;
  float: right;
}

.contact-link-item:hover,
.contact-link-item:focus {
  color: #2196f3;
}

.contact-link-item {
  margin: 0 25px;
  font-family: "Roboto";
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #757575;
}

/* Эффективные решения вашего бизнеса */
.main-top {
  padding: 200px 450px;
  background-color: #2f303a;
  text-align: center; /* center text and all inline element inside this block*/
}

.main-title {
  max-width: 695px;
  margin: 0 auto 30px;
  color: #fff;
  font-family: "Roboto";
  font-size: 44px;
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.main-top-button {
  color: #fff;
  background: #2196f3;
  padding: 10px 30px;
  border-radius: 4px;
  border: none;
}
.main-top-button-name {
  font-family: "Roboto";
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
}

/* Main */
/* Features */
.main {
 
 
}
.features {
  max-width: 1170px;
  margin: 0 auto;
 
  
}

.features-title {
  font-size: 0;
}
.features-list {
  /* display: flex; */
  list-style: none;
  padding-left: 0;
}

.features-list-item {
  vertical-align: top;
  display: inline-block;
  width: 24%;
}
.features-name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
 
}
.features-name-about {
  width: 80%;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}

.services {

}

.services-title {

}
.services-list {
  /* display: flex; */

}
.services-list-item {

}

.team {

}
.team-title {

}

.team-list {

}

.team-list-item {

}
.teammate-name {

}
.position {

}
/* Footer */

.footer {
  padding: 60px 0 60px 215px;
  background: #2f303a;
}

.main-logo-footer {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #fff;
}

.footer-list {
  list-style-type: none;
  display: inline;
}

.address {
  font-family: "Roboto";
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.contact-mail-footer {
  font-family: "Roboto";
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.contact-tel-footer {
  font-family: "Roboto";
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.contact-mail-footer:hover {
  color: #2196f3;
}

.contact-tel-footer:hover {
  color: #2196f3;
}
